<li class="list-group-item">
  <span class="glyphicon glyphicon-edit"></span>
  <strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong>
  has edited the story
  <% if activity.trackable %>
    "<%= link_to activity.trackable.title, story_path(activity.trackable) %>"
  <% elsif activity.title %>
    "<%= activity.title %>" (removed)
  <% else %>
    that was later removed
  <% end %>
  (at <%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %>).
</li>