@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.nav > li > span {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9d9d9d;
}

.well {
  h2 {
    margin-top: 0;
  }
}

#footer {
  margin-top: 50px;
}